{{> header }}
{{> navbar }}
<div class="row">
    
    <div class="col-8">
        <h1>Franchella </h1>
        <p>
            Ultra crack argentino.
        </p>
    </div>

     <div class="col-4">
        <img src="/assets/img/franchella.jpg" class="img-thumbnail">
    </div>
</div>  

{{> footer }}